<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="section-header"> About </div>
        <p>
          Our crops were bred over generations by plant breeders to be higher yielding, but sometimes inadvertently lost key immune resistance genes (<i>R</i>-genes).
        </p>
        <p>
          Nowadays, monocultures are static in evolution, but the pests and pathogens are not.
        </p>
        <p>
          Plant diseases are constantly evolving new ways of defeating the <i>R</i>-genes in crops.
        </p>
      </div>
      <div class="col-md-6">
        <div class="circle-cropper">
          <img src="./assets/images/sick_soy.jpeg">
        </div>
      </div>
    </div>
    <hr />
    <h3 class="mission-statement"> Our mission is to <u>Resurrect</u> <i>R</i>-genes to give our crops the tools to defend themselves again. </h3>
    <br />
  </div>
</section>
