<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <div class="section-header"> About </div>
        <p>
          Resurrect Bio is a plant biotech start-up, based in London. We will improve the immune system of crop species.
        </p>
        <p>
          Climate change is causing diseases to spreading to new locations, meaning the disease spectrum farmers are dealing with is expanding.
        </p>
        <p>
          Crops were bred over generations by plant breeders to improve key traits such as yield, height or drought-tolerance, but sometimes inadvertently lost key immune resistance genes (R-genes).
        </p>
        <p>
          Additionally, modern monocultures are static in evolution, but the pests and pathogens that threaten them are not.
        </p>
        <p>
          Plant diseases are constantly evolving new ways of defeating the R-genes in crops.
        </p>
      </div>
      <div class="col-md-6">
        <div class="circle-cropper">
          <img src="./assets/images/sick_soy.jpeg">
        </div>
      </div>
    </div>
    <hr />
    <h3 class="mission-statement"> Our mission is to <u>Resurrect</u> <i>R</i>-genes to give our crops the tools to defend themselves again. </h3>
    <br />
  </div>
</section>
