<section id="about">
  <div class="container">
    <div class="section-header"> About </div>

    <p>
      Our crops were bred over generations by plant breeders to be higher yielding, but sometimes inadvertently lost key immune resistance genes (R-genes).
    </p>
    <p>
      Nowadays, our monocultures are static in evolution, but the pests and pathogens are not. They constantly evolve new ways of defeating plant R-genes. 

    </p>
    <h3> Our Mission: </h3>
    <p>
      We will resurrect R-genes to make our crops great again.
    </p>
  </div>
</section>
