<footer class="page-footer font-small" id="contact">
  <div class="container text-center">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="section-header"> Contact </div>
        <p>
          If you want to know more, contact us:
        </p>
        <p>
          <a id="email-button" target="_blank" rel="noreferrer noopener" class="btn btn-primary" type="button"
            href="mailto:{{site.email}}" class="btn btn-primary">Email Us</a>
        </p>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">
        <hr />
      </div>
      <div class="col-md-12">
        <img id="footer-logo" src={{'/assets/images/logo/white.png' | absolute_url }}>
      </div>

    </div>
    <!-- Grid row -->

    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>
        © 2022 Copyright: Resurrect Bio</a>
      </p>
      <p>
        Scale Space, 58 Wood Ln, London W12 7RZ
      </p>
      <br />

      <p>
        Registered address: 71-75 Shelton Street, Covent Garden, London, United Kingdom, WC2H 9JQ
      </p>
    </div>
    <!-- Copyright -->

</footer>