<section id="support">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header"> Supported By </div>
      </div>
      <div class="col-6">
        <a href="http://www.tsl.ac.uk/" target="_blank">
          <img id="support-logo" src="./assets/images/support/tsl.jpg">
        </a>
      </div>
      <div class="col-6">
        <a href="https://www.gov.uk/government/organisations/innovate-uk" target="_blank">
          <img id="support-logo" src="./assets/images/support/Innovate_UK_logo.png">
        </a>
      </div>
    </div>
    <hr />
    <div id="host" class="row">
      <div class="col-md-6">
        <p>
          Hosted by <br id="line-break"> Imperial College Incubator
        </p>
      </div>
      <div class="col-md-6">
        <a href="https://www.imperial.ac.uk/life-sciences" target="_blank">
          <img id="host-logo" src="./assets/images/support/imperial.png">
        </a>
      </div>
    </div>
  </div>
</section>