<section id="technology">
  <div class="container">
    <div class="section-header"> Our Technology </div>
    <div class="row">

      <div id="happy-soy" class="col-md-6"></div>

      <div class="col-md-6 centralised">
        <ul class="tech-list">
          <li>
            <i>R</i>-gene experiments can take decades in crop species.
          </li>
          <li>
            Recent breakthroughs allow us to reconstitute networks of immune receptors in our model species.
          </li>
          <li>
            We use fast-forward techniques that give us results in days, not years.
          </li>
          <li>
            We will leverage our unique understanding of the immune receptor networks in plants and pathogen effector
            biology, to fix the immune system of our crop species.
          </li>
      </div>

    </div>

    <div class="row">
      <div class="card goal-card">
        <div class="card-header">
          <h3 class="card-title">Current Work - reSOYrrect </h3>
        </div>
        <div class="container">
          <div class="card-body">
            <p class="card-text">
              We will use gene editing to resurrect defeated resistance genes in soy, allowing it to defend itself.
            </p>
            <p class="card-text">
              Diseases in soy are devastating for sustainable farming, for instance $1.5 billion dollars of yield is
              lost to soybean cyst nematode in the US alone, every year. This microscopic worm-like parasite has no
              effective chemical control for use in the US market.
            </p>
          </div>
        </div>
      </div>
    </div>

    <br />
    <h3 class="mission-statement">
      We’re just getting started and we will work on other crops and pathogens.
    </h3>

    <hr />
  </div>
</section>