<section id="technology">
  <div class="container">
    <div class="section-header"> Technology </div>
    <div class="row">

      <div id="happy-soy" class="col-md-6"></div>

      <div class="col-md-6 centralised">
        
        <!-- <h2 class="subsection-header">
             We're Driving Sustainable Agriculture to:
             </h2>

             <ul>
             <li>
             Reduce pesticides.
             </li>
             <li>
             Increase farmer yields.
             </li>
             <li>
             Reduce CO2/GHG emissions from farming.
             </li>
             </ul> -->

        <ul class="tech-list">
          <li>
            <i>R</i>-gene experiments can take decades in crop species.
          </li>
          <li>
            Recent breakthroughs in immune receptor biology allow us to reconstitute networks of immune receptors in our model species.
          </li>
          <li>
            These fast-forward techniques give us results in days, not years.
          </li>
      </div>
      
    </div>
    <hr />

    <div class="row">

      <div class="col-md-6 centralised">

        <h2 class="subsection-header"> Our Solution </h2>
        <p>
          We will leverage our unique understanding of the immune receptor networks in plants and pathogen effector biology, to fix the immune system of our crop species. 

        </p>
      </div>
      <div class="col-md-6">
        <div class="circle-cropper">
          <img src="./assets/images/jar_plants.jpeg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card goal-card">
        <div class="card-header">
          <h3 class="card-title">Goal 1: reSOYrrect: </h3>
        </div>
        <div class="container">
          <div class="card-body">
            <p class="card-text">
              $1.5 billion dollars of yield is lost to soybean cyst nematode in the US alone, every year. This microscopic worm-like insect has no effective chemical control for use in the US market.
            </p>
            <p>
              <b>
                We will use gene editing to resurrect defeated resistance genes in soy, allowing it to defend itself.
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="card goal-card">
        <div class="card-header">
          <h3 class="card-title">Goal 2: To be announced </h3>
        </div>
        <div class="container">

          <div class="card-body">
            <p class="card-text">
              Once we have completed our initial goal, we will grow the company and target other diseases. Our solutions will reduce crop losses due to disease on several crop plants, whilst reducing agrichemical usage.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-9 centralised">
        <h2 class="subsection-header"> Why genetic control over chemical control? </h2>

        <ul id="why-list">
          <li>
            <b>More precise:</b> Genetic control only kills bad microbes that are actually eating the crop, leaves the rest alone.
          </li>
          <li>
            <b>No leakage and accumulation of chemicals into the soil or environment:</b> our system only uses the plant's own immune system to attack the microbe, we just fine tune it to recognise the pathogens again.
          </li>
          <li>
            <b>Better for the climate crisis:</b> our approach uses no fossil fuel based chemicals.
          </li>
          <li>
            <b>Increased genetic diversity of crops:</b> whilst our approach can be applied to any crop/disease, it is a tailor made solution for each crop and disease, therefore increasing rather than diminishing genetic diversity.
          </li>
          <li>
            <b> No foreign DNA introduced:</b> our solution can be achieved through gene editing of the crop's own DNA.
          </li>
          <li>
            <b>Robust disease resistance:</b> we can predict how the pathogen will evolve to overcome our disease control measures.
          </li>
        </ul>
      </div>
      <div class="col-md-3" id="much-soy"></div>
    </div>
  </div>
</section>
