<section id="technology">
  <div class="container">
    <div class="section-header"> Technology </div>

    <h2>
      Driving Sustainable Agriculture
    </h2>

    <ul>
      <li>
        Reduce pesticides
      </li>
      <li>
        increase farmer yields
      </li>
    </ul>
    <p>
      ... reducing CO2/GHG emissions from farming
    </p>


    <h2> Our Solution </h2>
    <p>
      We will leverage our unique understanding of the immune receptor networks in plants and pathogen effector biology, to fix the immune system of our crop species. 

    </p>
    <h3> Goal 1 - reSOYrrect: </h3>
    <p>
      $1.5 billion dollars of yield is lost to soybean cyst nematode in the US alone, every year. This microscopic worm-like insect has no effective chemical control for use in the US market. We will use gene editing to resurrect defeated resistance genes in soy, allowing it to defend itself.
    </p>

    <h3>
      Goal 2 - To be announced
    </h3>
    <p>
      We will reduce crop losses due to disease on several crop plants, without the need for spraying harmful agrichemicals.
    </p>


    <h2> Why genetic control over chemical control of pathogens and pests? </h2>

    <ul>
      <li>
        More precise, i.e. only kills bad microbes that are actually eating the crop, leaves the rest alone
      </li>
      <li>
        No leakage and accumulation of chemicals into the soil or environment, our system only uses the plant's own immune system to attack the microbe, we just fine tune it to recognise the pathogens again
      </li>
      <li>
        better for climate crisis as no fossil fuel based chemicals involved
      </li>
      <li>
        our technology will increase genetic diversity of crops, not diminish it, i.e. tailor made solution for each crop and disease
      </li>
      <li>
        no foreign DNA introduced - our solution can be achieved through gene editing of the crop's own DNA
      </li>
      <li>
        robust disease resistance, we can predict how the pathogen will evolve to overcome our disease control measures
      </li>
    </ul>
  </div>
</section>
