<div id="why" class="container">
  <div class="row">
    <div class="col-md-9 centralised">
      <h2 class="subsection-header"> Why genetic control over chemical control? </h2>

      <ul id="why-list">
        <li>
          <b>More precise:</b> Genetic control only kills bad microbes that are actually eating the crop, leaves the rest alone.
        </li>
        <li>
          <b>No leakage and accumulation of chemicals into the soil or environment:</b> our system only uses the plant's own immune system to attack the microbe, we just fine tune it to recognise the pathogens again.
        </li>
        <li>
          <b>Better for the climate crisis:</b> our approach uses no fossil fuel based chemicals.
        </li>
        <li>
          <b>Increased genetic diversity of crops:</b> whilst our approach can be applied to any crop/disease, it is a tailor made solution for each crop and disease, therefore increasing rather than diminishing genetic diversity.
        </li>
        <li>
          <b> No foreign DNA introduced:</b> our solution can be achieved through gene editing of the crop's own DNA.
        </li>
        <li>
          <b>Robust disease resistance:</b> we can predict how the pathogen will evolve to overcome our disease control measures.
        </li>
      </ul>
    </div>
    <div class="col-md-3" id="much-soy"></div>
  </div>
</div>
