---
---

@import 'bootstrap/bootstrap';

$primary-color: #81c784;
$primary-color-light: #b2fab4;
$primary-color-dark: #519657;

$secondary-color: #00796b;
$secondary-color-light: #48a999;
$secondary-color-dark: #004c40;

$about-bg-color: #12170a;
$contact-bg-color: $secondary-color;

$main-text-color: black;

html {
  scroll-behavior: smooth;
}

footer {
  background-color: $primary-color-dark;
}

#navbar {
  opacity: 0.95;
  background-color: $primary-color-dark;
}

.container {
  max-width: 960px
}

section {
  padding-top: 10px;
  padding-bottom: 20px;
  
}

.section-header {
  font-size: 3rem;
}

.jumbotron {
  color: white;
  background-image: url("{{ 'assets/images/soy-beans-fade.jpg' | absolute_url }}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: 0px;

  .container {
    height: 100%;

    row {
      display: flex;
      height: 100%;
    }
  }
}

.navbar-dropdown {
  border: none;
  right: 0;
  left: auto;
}

ul.navbar-nav {
  width: 100%;
}

li.nav-item {
  @media (min-width: 768px) {
    width: 30%; 
  }
}

.navbar-brand, .nav-link {
  color: $main-text-color;
}

.navbar-brand:hover {
  color: $main-text-color;
}

a.nav-link {
  text-align: center;
}

a.nav-link:hover,
.nav-link:hover {
  color: $secondary-color !important;
}

a.nav-link.active {
    background-color: rgba($color: #fff, $alpha: 0.25) !important;
    color: white !important;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.25) !important;
        color: grey;
    }
}

.navbar-link:not(.is-arrowless)::after {
    border-color: grey;
}


#about {
  background-color: $about-bg-color;
  color: white;
}

#contact {
  background-color: $contact-bg-color;

}
#blog {
    .hero-body {
        padding: 3rem 0.25rem 1rem 0.25rem;
    }

    .container {
        margin: 1.5rem auto;
    }

    #blog-card {
        transition: all 0.25s ease;
        margin-bottom: 0.5vmax;
        transform: scale(0.85);
        margin-right: 2.5vmax;
        margin-left: 2.5vmax;
        line-height: normal;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

        &:hover {
            transform: scale(0.875);
            -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
        }

        @media (max-width: 768px) {
            transform: scale(1);
            margin-bottom: 5vmax !important;

            &:hover {
                transform: scale(1.025);
                margin-bottom: 5vmax !important;
                -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
            }

            .image {
                padding-top: 50% !important;
            }
        }

        .title {
            margin: 0.5rem !important;
        }

        .content {
            margin: 0.5rem;
        }

        .column {
            display: grid;

            .image {
                border-radius: 0.25rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}


#post {
    @media (min-width: 768px) {
        margin: auto 2.5vmax;
    }
    a {
        text-decoration: underline;
    }
    #title {
        text-decoration: none;
    }
    .title {
        margin: auto;
    }
    #post-image {
        border-radius: 0.25rem;
    }
    .subtitle {
        letter-spacing: 0.05rem;
    }

    #description {
        margin-bottom: 1.25vmax;
    }

    .tag {
        margin: 0.15rem auto;
    }
    .content {
        ol, ul, blockquote {
            display: inline-block;
        }
        hr{
            background-color: grey;
        }
        img, iframe {
            max-width: calc(100% - 25vw);
            margin: 0.25rem auto;
            @media (max-width: 768px) {
                max-width: calc(100% - 5vw);
            }
        }
        ul, ol {
            display: inline-block;
        }
    }

    .container {
        margin: 2.5rem auto;
        word-break: break-word;
        max-width: -webkit-fill-available;
    }
}

#page-section {
    .content {
        ul, ol, blockquote {
            display: inline-block;
        }
    }
}
